@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
/* SCROLL PROGRESSBAR */
::-webkit-scrollbar
{
    width: 0;
}
#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: rgba(255,255,255, 0.05);
}
#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    /* height: 100%; */
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite; 
}
@keyframes animate
{
    0%, 100%
    {
        filter: hue-rotate(0deg);
    }
    30%
    {
        filter: hue-rotate(180deg);
    }
}
#progressbar::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}
/* SECTIONS */
section
{
    padding: 80px 100px; 
}

.banner
{
    position: relative;
    min-height: 100vh;
    /* background: url(images/banner.jpg); */
    background: url(images/rix2.webp);
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}

.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}

.banner h3
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}

h3 span.typed-text {
    color: #2196f3;
}
h3 span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 0.9s infinite;
}
.container p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}

.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover
{
    color: rgba(200, 255, 255, 1);
}

.btn span 
{
    display: block;
    position: absolute;
    background-color: #fff;
}

.btn span:nth-child(1)
{
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(1)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.btn span:nth-child(2)
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(2)
{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.btn span:nth-child(3)
{
    right: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
}

.btn:hover span:nth-child(3)
{
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

.btn span:nth-child(4)
{
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

.btn:hover span:nth-child(4)
{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
    transition-delay: 0.5s;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky
{
    background-color: #fff;
    padding: 20px 100px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

header.sticky .logo{
    color: #111; 
}

header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    transition: 0.5s;
}

header .logo:hover{
    font-size: 26px;
}

.initial
{
    color: #2196f3;
}

header ul
{
    position: relative;
    display: flex;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    transition: 0.5s;
}
header ul li a:hover
{
    color: #2196f3;
}

header.sticky ul li a
{
    color: #111;
    transition: 0.5s; 
}
header.sticky ul li a:hover
{
    color: #2196f3;
}

.heading
{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2
{
    font-weight: 600;
    font-size: 30px;
}

.content
{
    display: flex;
    justify-content: space-between;
}


.contentBx
{
    padding-right: 30px;

}

.contentBx h3
{
    font-size: 24px;
    margin-bottom: 10px;
}

.w50
{
    min-width: 50%;
    text-align: center;
}

.links 
{
    text-align: center;
    margin-top: 7px;
}
.links a
{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    margin: 15px;
}
.links a:hover
{
    color: #2196f3;
}
.links2 
{
    margin-top: 7px;
}
.links2 a
{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    margin: 15px;
}
.links2 a:hover
{
    color: #2196f3;
}

img
{
    max-width: 100%;
}

#mina
{
    margin-left: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.services
{
    background-color: #111 ;
}

.heading.white
{
    color: #fff;
}

.services .content
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .content .servicesBx
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .content .servicesBx:hover
{
    background-color: #2196f3;
}

.services .content .servicesBx img
{
    max-width: 90px;
    filter: invert(1);
}

.services .content .servicesBx h2
{
    font-size: 20px;
    font-weight: 600;
}

/* PROJECTS SECTION */

.work .content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.work .content .card
{
    position: relative;
    width: 320px;
    height: 420px;
    margin: 15px;
    overflow: hidden;
}

.work .content .card span
{
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0.70;
    background: #2196f3;
    z-index: 1;
    transition: width 0.5s, height 0.5s;
}
.work .content .card:hover span
{
    width: 1100px;
    height: 1100px;
}

.work .content .card .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.work .content .card .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid gray;
}
.work .content .card .cardContent
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.work .content .card .cardContent div
{
    padding: 40px;
    text-align: center;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.3s;
}

.work .content .card .cardContent div a
{
    color: #fff;
    font-size: 35px;
    margin:7px;
}
.work .content .card .cardContent div a:hover
{
    color: rgba(255,255,255,0.7);
}

.work .content .card:hover .cardContent div
{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

/* ==================== */
/* TESTIMONIAL */
.testimonial
{
    background-color: #f7f7f7;
}

.testimonial .content
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial .content .testimonialBx
{
    max-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background-color: #2196f3;
    transition: 0.5s;
}
.testimonial .content .testimonialBx:hover
{
    transform: scale(1.03);
}

.testimonial .content .testimonialBx p
{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.testimonial .content .testimonialBx h3
{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}

.testimonial .content .testimonialBx h3 span
{
    font-size: 14px;
    font-weight: 400;
}

.contact
{
    background-color: #111;
}

.formBx
{
    min-width: 60%;
}

.formBx form 
{
    display: flex;
    flex-direction: column;
}

.formBx form h3, .contactInfo h3
{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.formBx form input, .formBx form textarea
{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}

.formBx form textarea
{
    min-height: 200px;
}

.formBx form input::placeholder, 
.formBx form textarea::placeholder
{
    color: #999;
}

.formBx form button
{
    max-width: 200px;
    background-color: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contactInfo
{
    min-width: 40%;
}

.contactInfoBx
{
    position: relative;
}

.contactInfoBx .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .icon
{
    min-width: 40px;
    padding-top: 4px;
    color: #2196f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.contactInfoBx .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.contactInfoBx .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.copyright
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}


/* RESPONSIVE */

@media (max-width: 991px)
{
    header, header.sticky
    {
        padding: 20px 50px;
        z-index: 1000;
    }
    #scrollPath
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: rgba(255,255,255, 0.05);
    }
    #progressbar
    {
        position: fixed;
        top: 0;
        right: 0;
        width: 1px;
        /* height: 100%; */
        background: linear-gradient(to top, #008aff, #00ffe7);
        animation: animate 5s linear infinite; 
    }
    .menu
    {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active
    {
        left: 0;
    }

    header ul li a
    {
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle
    {
        width: 40px;
        height: 40px;
        background: url(images/menu.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    .toggle.active
    {
        background: url(images/close.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1)
    }
    section
    {
        padding: 90px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn
    {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }
    
    .heading h2
    {
        font-size: 24px;
    }
    .contentBx h3
    {
        font-size: 20px;
    }
    .content
    {
        flex-direction: column;
    }

    #mina
    {
        margin: 10px auto;
        width: 100%;
    }

    .w50
    {
        min-width: 50%;
        margin-bottom: 20px;
        text-align: center;
    }
    .services .content .servicesBx
    {
        margin: 10px;
    }
    .work .content .card
    {
        width: 90%;
        /*  */padding: 10px;
    }
    .testimonial .content .testimonialBx
    {
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
        background-color: #2196f3;
    }
    .testimonial .content .testimonialBx
    {
        margin-top:20px;
    }
    .contactInfo
    {
        margin: 20px 0;
    }
    .work .content .card:hover span
    {
        width: 1800px;
        height: 1200px;
    }
    .links2 
    {
        text-align: center;
    }
}

@media (max-width: 600px)
{
    header, header.sticky
    {
        padding: 20px;
        z-index: 1000;
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    section
    {
        padding: 40px 20px;
    }

    .work .content .card
    {
        width: 90%;
    }

    .w50
    {
        padding-bottom: 0;
        text-align: center;
    }
    .content
    {
        padding-bottom: 0;
    }

     #mina
    {
        margin: 10px auto;
        width: 100%;
    }
    .links2 
    {
        text-align: center;
    }
}